<h1>¿Qué <em>es</em> NotiUY?</h1>

<p>
NotiUY es un sitio donde se muestran todas las noticias de los medios de prensa uruguayos más populares. Su interfaz permite una lectura cómoda, ágil e inteligente evitando tener que estar visitar varios sitios y sortear publicidades y otro tipo de complicaciones. Permite suscribirse por feeds, y tener una lista de favoritos con las noticias de interés. Todas las noticias son agrupadas en varias etiquetas dependiendo de su temático lo que facilita el encuentro de noticias, indendiente del medio al que pertenezcan.
</p>

<h1><em>NotiUY 2.0</em>: ¿Qué hay de nuevo?</h1>

<p>
En <a href="http://code.google.com/p/noti/wiki/NovedadesNotiUY2">esta página</a> puedes ver una lista de las novedades incorporadas en NotiUY 2.0. No olvides visitar el <a href="http://code.google.com/p/noti/wiki/WikiNotiUY2">wiki de NotiUY 2.0</a> para enterarte de todo lo relacionado con el sitio.
</p>

<h1><em>NotiUY 2.0</em>: ¿Qué pasó con los viejos usuarios y noticias?</h1>

<p>
Tanto los usuarios como las noticias existentes en el viejo NotiUY no fueron migrados a la nueva versión beta, ni lo serán mientras ésta última se encuentre en fase de prueba. Una vez liberada la versión final de NotiUY 2.0 se juntarán los usuarios de la nueva versión 2.0 con los viejos usuarios de NotiUY 1.0.
</p>

<h1>¿Cuánto <em>cuesta</em> NotiUY?</h1>

<p>El uso de NotiUY es completamente <strong>gratuito</strong>.</p>

<h1>¿Cómo se <em>usa</em> NotiUY?</h1>

<p> 
El uso de NotiUY es muy intuitivo. Arriba tienes la bara de navegación para desplazarte en las diversas secciones del sitio. Ellas son:
</p>

<ul>
<li>Populares - lista de las noticias más populares del día/semana/mes/año</li>
<li>Sitios - lista de las noticias agrupadas por sitio</li>
<li>Etiquetas - lista de las noticias agrupadas por etiquetas. También muestra una nube de etiquetas que permite ver rápidamente la distribución de noticias del día según la temática.</li>
</ul>

<p>
La siguiente barra (la de color rojo) es la barrá que contiene el título de la página y el cuadro de búsqueda donde puedes buscar noticias actuales o viejas
</p>

<p>
Finalmente, a la derecha, tienes la barra lateral que te permitirá navegar entre los sitios y etiquetas, así como también fijar el órden de las noticias. Este puede ser por cantidad de vistas o por fecha y hora de la noticia.
</p>


<h1>¿Cómo se <em>organizan</em> las noticias?</h1>

<p>
Cada noticia pertenece a una categoría, que a su vez pertenece a un sitio. Esto depende únicamente del sitio original de donde fue extraída la noticia. Luego de ingresar a NotiUY la noticia es analizada y (según su contenido y categoría a la que pertenece) le son aplicada diferentes etiquetas. Estas etiquetas están disponibles en la infomación de cada noticia (debajo da la fecha). Las noticias pueden ser navegadas a través de etiquetas lo cual resulta muy cómodo ya que la etiqueta es independiente del medio original en el cual fue publicada la noticia.
</p>

<h1>¿Cada cuanto se <em>actualizan</em> las noticias?</h1>

<p>Actualmente las noticias se están actualizando cada una hora, aunque esto puede cambiar en el futuro.</p>

<h1>¿Como funcionan las <em>favoritos</em>?</h1>

<p>
Los favoritos le permiten tener una lista de acceso a las secciones del sitio que visita más frecuentemente. Esto le brinda un acceso a rápido acceder rápido a las noticias de interés, sin tener que estar navegando el sitio para encontrarlas.
</p>

<p>
Para aregar una sección a su lista de favoritos, deberá hacer clic en el link <em>Agregar a favoritos</em> de la barra lateral.
</p>

<p>
Para utilizar los favoritos es necesario registrarse en el sitio. Un usuario puede tener tantos favoritos como lo desee.
</p>

<p>
Para borrar un favorito se debe hacer clic en Peril (barra superior), seleccionar los favoritos a borrar y finalmente hacer clic en Guardar perfil.
</p>

<h1>¿Se pueden buscar noticias <em>viejas</em>?</h1>

<p>Si, simplemente ingrese el texto a buscar en el cuadro de búsqueda y seleccione el rango a buscar. Dicho rango puede ser:</p>

<ul>
<li>hoy - solo busca en las noticias de hoy</li>
<li>semana - busca en las noticias de los últimos 7 días</li>
<li>mes - busca en las noticias de los últimos 30 días</li>
<li>año - busca en las ntoicias de los últimos 365 días</li>
<li>todas - busca en todas las ntoicias del sitio</li>
</ul>

<h1>¿Puede haber noticias <em>repetidas</em> en varias áreas?. ¿Por qué?</h1>

<p>
Generalmente no, pero puede darse el caso de que (por su temática) alguna categoría particular de un sitio pertenezca a más de un área de NotiUY y de esta forma sus noticias se verían en ambas áreas.
</p>

<h1>¿Hay <em>feeds</em> disponibles de las noticias?</h1>

<p>
Por supuesto. Casi todas las secciones del sitio NotiUY tienen su feed correspondiente. Para suscribirse puede obtener el link en la barra lateral, en la sección Suscripciones. 
También puede utilizar el ícono suscriptor de feeds de su navegador, si éste le provee uno (Firefox 2.0, Opera 7/8/9 e Internet Explorer 7 proveen ícono de suscripción a feeds)
</p>

<h1>¿Puedo suscribirme por <em>mail</em> a las noticias?</h1>

<p>
Esta característica aún no está disponible en NotiUY 2.0 beta, pero lo estará pronto. 
</p>

<h1>¿Que <em>sitios</em> están disponibles en NotiUY?</h1>

<p>
NotiUY actualmente indexa y publica noticias de los siguientes sitios:
</p>

<ul>
{% for site in page.sites %}<li><a href='{{ site.url }}'>{{ site.name }}</a></li>
{% endfor %}
</ul>

<h1>¿Algún otra duda o comentario?</h1>

<p>
Si tienes alguna duda o sugerencia te pedimos que por favor nos lo hagas saber dejando tu mensaje en <a href="http://groups-beta.google.com/group/notiuy">el grupo de NotiUY</a>. NotiUY 2.0 aún se encuentra en fase de prueba (beta) y por lo tanto puede tener errores. Asimismo también hay varias <a href="http://code.google.com/p/noti/wiki/PendientesNotiUY">mejoras pendientes</a> a implementar para la versión final. Nos gustaría oír tu opinión.
</p>
