<h1>Motivación</h1>

<p> NotiUY es un proyecto destinado a combatir los problemas de accesibilidad
que (aún) hoy en día padecen los medios de prensa uruguayos.</p>

<p>¿Qué se entiende por problemas de accesibilidad?. Por ejemplo:</p>

<ul>
    <li>No poder acceder a una página con nuestro navegador preferido
    porque solo funciona con Internet Explorer</li>
    <li>No tener <a href="http://es.wikipedia.org/wiki/Feed">feeds</a>
    disponibles de su contenido</li>
    <li>No poder leer cómodamente el contenido de una página debido al 
    exceso de publicidad obtrusiva o a una pésima presentación de la misma</li>
    <li>Tener que llenar un formulario enorme de registro para poder leer
    una noticia</li>
</ul>

<h1>Mentalidad y objetivos</h1>

<p>
NotiUY pretende combatir los mecionados problemas de accesibilidad brindando
una interfaz inteligente e intuitiva y siguiendo los siguientes
principios:</p>

<ul>
<li>Publicar todo el contenido utilizando estándares webs
(como ser XHTML 1.0, CSS o RSS2) para maximimar la
accesibilidad desde cualquier dispositivo, navegador y/o plataforma</li>

<li>Minimizar el tiempo requerido para leer noticias en línea a
través de filtros inteligentes, feeds, mails y páginas personalizables
con las noticias de interés</li>

<li>Promover el acceso y la divulgación de noticias uruguayas en el
resto del mundo, en particular con otros sitios y motores de
búsqueda</li>

<li>Minimizar el desgaste del usuario, obligandolo a registrarse
únicamente cuando sea necesario (por ejemplo, para el uso de favoritos, o
mails personales) y aun así pedirle la mínima cantidad de datos
necesaria para brindar la funcionalidad deseada (eso significa: nunca
pedir el nombre de soltera de la madre o la nota con que pasó al
liceo)</li>

<li>Promover el uso de URLs simples, coherentes, cortas y permanentes</li>
</ul>

<h1>Objetivos a largo plazo</h1>

<p>
Los objetivos a largo plazo es hacer que los medios de prensa locales tomen
conciencia de la importancia de la usabilidad de sus páginas. Que se den
cuenta que la mentalidad "si se ve en Internet Explorer, funciona" ya es
historia y que hay que crecer y adaptarse a las nuevas tecnologías que hay disponibles hoy en día. Que entiendan que, para coexistir y sobrevivir en Internet, a la larga lo que importa es la accesibilidad
y los estándares (prueba de ello son los blogs y el exponencial crecimiento
de Google) y que eso es algo que cualquier sitio de noticias que se precie
debe entender si piensa sobrevivir en el (cada vez más complicado) mercado de
la prensa escrita.</p>

<h1>¿Cómo colaborar?</h1>

<p>En el wiki de NotiUY hay información sobre <a href="http://pablohoffman.com/cgi-bin/twiki/bin/view/Notiuy/ComoColaborarNotiUY2">como colaborar</a> y que es lo que se precisa.</p>

<h1>¿Comentarios, sugerencias?</h1>

<p>
Si tienes algún comentario o sugerencia no dudes dejarlo en la <a href="http://pablohoffman.com/cgi-bin/twiki/bin/view/Notiuy/ComentariosNotiUY2">página de comentarios</a> del wiki.
</p>

<h1>¿Puedo utilizar los feeds de NotiUY en mi blog o sitio web?</h1>

<p>
¡Por supuesto!. Si tienes un blog o sitio web y estás interesando en publicar las noticias de NotiUY utilizando nuestros feeds, ¡adelante!. No solo puedes, sino que te incentivamos a hacerlo. Recuerda que el objetivo de NotiUY es aumentar la accesibilidad y la difusión de las noticias uruguayas en Internet, y para eso nada mejor que republicar las noticias en otros sitios. Si tienes alguna o quieres saber como hacerlo <a href="http://pablohoffman.com/contact/">envíanos un mail</a>.
</p>


<h1>Historia</h1>

En la wiki hay una página dedicada a la <a href="http://pablohoffman.com/cgi-bin/twiki/bin/view/Notiuy/HistoriaNotiUY">historia de NotiUY</a>.

<h1>Descargos</h1>

<p>
Las noticias de NotiUY se publican tal cual se encuentran en sus sitios
originales y no son modificadas en ningun caso ni bajo ningún concepto.
Asimismo, la fuente es publicada siempre, adjunta a la noticia, a los efectos de
preservar su orígen y autoría. De tal forma, NotiUY se limita unicamente a
indexar el contenido de otros sitios web, de la misma forma que lo hace
Google u otros motores de búsqueda. </p>

<p>
Todos los derechos de las noticias publicadas en NotiUY son propiedad
exclusiva del sitio original al que pertenecen. NotiUY no tiene ningun derecho
sobre éstas y delega todo tipo de responsabilidad y autoría sobre las mismas.
Asimismo, NotiUY no tiene ningun tipo de relación con los medios de prensa que
indexa.</p>

<p> NotiUY solo publica noticias que, a priori, ya son de acceso público en
otras páginas. En consecuencia, no se publica ningun contenido restringido a
usuarios pagos u otro tipo de limitaciones. </p> 
