{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="msg">
<div class="msgtop"><div></div></div>
<div class="msgcontent">
<img src="{{ cfg.urlbase }}/media/err.gif" width="16" height="16" alt="Warning" /><br />
{% trans "The page you're trying to access is not working. Please, report this problem page. Thanks" %}
<br />
<a href="http://groups-beta.google.com/group/notiuy">http://groups-beta.google.com/group/notiuy</a>
</div>
<div class="msgbottom"><div></div></div>
</div>
{% endblock %}
